doctype html 
html
  head
    title Bhargesh dance Academy
    block scripts
    block style
  body
    nav#navbar
         ul
            div#logo
                img(src="/static/img/logo.jpg")
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/contact") Contact]
            li #[a(href="/") services]
            li #[a(href="/") Class-info]
    block content
    footer#footer 
        | @ Copyright 2023 BhargeshDanceclasses.com All rights reserved